// Média Queries //
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .header {
    box-shadow: none;
  }
  .location {
    box-shadow: none;
  }
  .nav {
    padding: 0% 10% 0% 10%;
    ol {
      display: flex;
      flex-direction: row;
      height: auto;
      gap: 40px;
      padding: 5px 20px 35px 20px;
    }
  }
  .responsive__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 40px;
  }
  #section_menu {
    padding: 0% 10% 1% 10%;
    h2 {
      margin-bottom: 30px;
    }
  }
  .card__menu {
    position: relative;
  }
  .section__menu {
    margin: 0% 15% 0% 15%;
    background-color: rgb(246, 246, 246);
    border-radius: 20px 20px 0px 0px;
    margin-top: -20px;
    box-shadow: 2px 2px 12px -11px rgba(0, 0, 0, 0.95);
    position: relative;
    padding: 20px;
  }
  .menu {
    img {
      height: 383px;
    }
  }
  .menu__responsive {
    padding-right: 17%;
    padding-left: 17%;
  }
  .footer__responsive {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 41px;
    height: 6.5em;

    ul {
      display: flex;
    }
    img {
      margin: 5px 30px 0px 90px;
    }
    .footer-text2 {
      margin-left: 55px;
    }
    .footer__resp {
      margin: 0px;
    }
  }
}
