// Média Queries //
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .header {
    box-shadow: none;
  }
  .location {
    box-shadow: none;
  }
  .nav {
    ol {
      display: flex;
      flex-direction: row;
      height: auto;
      gap: 40px;
      padding: 20px 20px 35px 20px;
    }
  }
  .responsive__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
