.header {
  img {
    margin: auto;
    display: flex;
    padding: 20px;
  }
}
.headermenu {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    font-size: 1.3em;
    color: black;
    margin-left: 25px;
  }
  img {
    margin: auto;
    padding: 20px;
  }
}
