.header {
  img {
    margin: auto;
    display: flex;
    padding: 20px;
  }
}
.headermenu {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    background-color: aqua;
  }
  img {
    margin: auto;
    padding: 20px;
  }
}
