* {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header img {
  padding: 21px 20px 12px 20px;
}

.location {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(234, 234, 234);
  box-shadow: 4px 2px 4px 4px rgba(0, 0, 0, 0.25);
}
.location i {
  color: rgb(53, 53, 53);
  background-color: rgb(234, 234, 234);
  margin-left: 40px;
}
.location input {
  border: none;
  font-size: 16px;
  color: rgb(53, 53, 53);
  background-color: rgb(234, 234, 234);
  padding-left: 20px;
}

.pre-accueil {
  background-color: rgb(243, 243, 243);
}

.accueil {
  text-align: center;
}
.accueil p {
  font-size: 18px;
}

.restaurants {
  background-color: rgb(243, 243, 243);
}
.restaurants img {
  height: 231px;
  width: auto;
}
.restaurants p {
  font-size: 17px;
  font-weight: lighter;
}

.footer {
  background-color: rgb(53, 53, 53);
  color: white;
  font-weight: 500;
}
.footer img {
  color: white;
  width: 137.58px;
  height: auto;
}

.btn1 {
  background-image: linear-gradient(193.33deg, #ff79da -11.44%, #9356dc 123.93%);
  height: 50px;
  width: auto;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding-inline: 20px;
}

.btn2 {
  border-radius: 20px;
  width: 100%;
  height: 72.38px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border: 0;
  font-size: 16px;
  font-weight: 500;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1 {
  font-size: 24px;
}

.h2 {
  font-size: 18px;
}

.h3 {
  font-size: 16px;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

/*# sourceMappingURL=style.css.map */
