.menu {
  img {
    width: 100%;
    object-fit: cover;
    max-height: 32rem;
  }
}
.section__menu {
  background-color: $grey2;
  border-radius: 20px;
  margin-top: -20px;
  box-shadow: 2px 2px 12px -11px rgba(0, 0, 0, 0.95);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.title__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 28px;
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: italic;
    padding-right: 10px;
  }
}
.entree-menu {
  h3 {
    font-size: 16px;
    font-weight: 300;
  }
  hr {
    width: 40px;
    border: 3px solid;
    margin: 16px;
    margin-left: 0px;
    border-color: $green;
  }
}
.card {
  border: 0px white solid;
  background-color: white;
  border-radius: 20px;
  margin: 0px 0px 15px 0px;
  box-shadow: 2px 2px 12px -11px rgba(0, 0, 0, 0.95);
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;

  .btn-check {
    border: 0;
    position: absolute;
    top: 0px;
    right: -100px;
    background-color: $green;
    height: 100%;
    width: 65px;
    border-radius: 0 20px 20px 0;
    transition: right 0.55s ease, transform 0.55s ease;

    .fa-circle-check {
      color: white;
      transition: transform 0.55s ease;
    }
  }

  .card-body strong {
    position: relative;
    right: 0;
    transition: right 0.55s ease;
  }

  &:hover {
    cursor: pointer;

    .btn-check {
      right: 0;
    }

    .fa-circle-check {
      transform: rotate(0deg);
    }

    .card-body strong {
      right: 60px;
    }
  }

  .card-title {
    h3 {
      font-size: 18px;
      margin-block-end: 0;
      margin-bottom: -12px;
      font-weight: 500;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    p {
      font-size: 17px;
      font-weight: 300;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .card-price {
    // Ajoutez les styles ici si nécessaire
  }

  .plat {
    margin-top: 50px;
  }
}
