// Code Général (default) //

    .header {
        display: grid;
        justify-items: center;
           
            }
     .location{
        
        .location__i{
          
        }
            .location__input{
             
            }
     }       
    
    .accueil {
        text-align: center;
        background-color: $myRed;
    }
    